<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Side</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<body>
<div class="layui-side layui-bg-black" th:fragment="side">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="navtree" id="navtree">
<!--            <li class="layui-nav-item layui-nav-itemed">-->
<!--                <a class="" href="javascript:;">系统基础信息管理</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd>-->
<!--                        <a href="/dict/relevancy">基础字典管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="/dict/department">部门信息管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="/dict/peopleinfo">人员信息管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="">授权平台</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="">日志管理</a>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">救助信息管理</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">救助请求管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">救助信息单管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">救助指派管理</a>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">收容救治管理</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">待救治任务管理</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">待处理任务管理</a>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">档案管理</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">展示管理</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">救治对象管理</a>-->
<!--            </li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">查询统计与智能台账</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">动物救治统计</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">兽医救治任务统计</a>-->
<!--                    </dd>-->
<!--                    <dd>-->
<!--                        <a href="javascript:;">救治任务信息统计</a>-->
<!--                    </dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
    </div>
    <!--script要放在th:fragment里面才会被加载-->
    <script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use('element', function(){
            var element = layui.element;
            var $ = layui.$;
            var username = "[[${session.loginUser}]]";
            console.log(username);
            $.post('/menu/MenuByDepartment',{username:username},function (res){
                if(res.code===0){
                    var data=res.data;
                    console.log(data);
                    $('#navtree').find('span.layui-nav-bar').remove();
                    let html = '';
                    for (var i = 0; i < data.length; i++) {
                        html += '<li class="layui-nav-item">';
                        if(data[i].url==null || data[i].url===""){
                            html += '<a href="javascript:;">' + data[i].title + '</a>';
                        }else{
                            html += '<a href="'+data[i].url+'">' + data[i].title + '</a>';
                        }
                        if(data[i].children.length>0){
                            html += '<dl class="layui-nav-child">';
                            for (var j = 0; j < data[i].children.length; j++) {
                                html += '<dd>';
                                html += '<a href="'+data[i].children[j].url+'">' + data[i].children[j].title + '</a>';
                                html += '</dd>';
                            }
                            html += '</dl>';
                        }
                        html += '</li>';
                    }
                    html += '</ul>'
                    $('#navtree').html(html);
                    xuanran();
                }
            });

        });
        function xuanran() {
            layui.use('element', function() {
                var element = layui.element;
                var $ = layui.$;
                element.init();
            }
            );
        }
    </script>
</div>
</body>
</html>
