<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.animalsystem.dictionary.mapper.DictionaryMapper">
    <update id="updateDict">
        update sys_dict set name = #{name},code = #{code},info = #{info} where id = #{id}
    </update>
    <update id="updateDictValue">
        update sys_dict_value set name = #{name},value= #{value},code = #{code},info = #{info} where id = #{id}
    </update>
    <delete id="deleteDict">
        delete from sys_dict where id = #{id}
    </delete>

    <select id="selectAllDict" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict
    </select>
    <!--分页查询数据-->
    <select id="selectByPage" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict where 1=1
        <!--扩充-->
        order by id limit #{page},#{limit}
    </select>
    <!--根据parentid查询向的字典数据值-->
    <select id="selectDictValue" resultType="com.lhy.animalsystem.dictionary.entity.SysDictValue">
        select * from sys_dict_value where parentid = #{parentid}
    </select>
    <select id="selectValueByPage" resultType="com.lhy.animalsystem.dictionary.entity.SysDictValue">
        select * from sys_dict_value where parentid = #{parentid}
        <!--扩充-->
        order by id limit #{page},#{limit}
    </select>
    <!--根据id查询字典数据-->
    <select id="selectDictById" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict where id = #{id}
    </select>
    <select id="selectDictByName" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict where name like #{name}
    </select>
    <select id="selectByName" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict where name like #{name}
    </select>
    <select id="selectByNamePage" resultType="com.lhy.animalsystem.dictionary.entity.SysDict">
        select * from sys_dict where name like #{name}
        <!--扩充-->
        order by id limit #{page},#{limit}
    </select>
    <select id="selectByType" resultType="java.lang.String">
        select name from sys_dict_value where parentid = (select id from sys_dict where sys_dict.code = #{code})
    </select>
    <!--增加字典数据-->
    <insert id="insertDict" parameterType="com.lhy.animalsystem.dictionary.entity.SysDict">
        insert into sys_dict (name,code,info)
        values (#{name},#{code},#{info})
    </insert>
</mapper>
