<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.animalsystem.header.mapper.HeaderMapper">
    <update id="editInfo">
        update users set username = #{username},name = #{name},password = #{password} where username = #{loginUser}
    </update>

    <select id="selectUser" resultType="com.lhy.animalsystem.login.entity.User">
        select username,name from users where username = #{username}
    </select>
</mapper>
