<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhy.animalsystem.people.mapper.PeopleMapper">

    <!--查询全部人员数据-->
    <select id="selectAll" resultType="com.lhy.animalsystem.login.entity.User">
        select * from users
    </select>
    <!--分页查询数据-->
    <select id="selectByPage" resultType="com.lhy.animalsystem.login.entity.User">
        select * from users where 1=1
        <if test="departname!='动物园'">
            <if test="name!=null">
                and users.name like #{name}
            </if>
            <if test="departname!=null">
                and users.departname like #{departname}
            </if>
        </if>
            order by username limit #{page},#{limit}
    </select>
    <!--根据username查询数据-->
    <select id="selectByUsername" resultType="com.lhy.animalsystem.login.entity.User">
        select * from users where username=#{username}
    </select>
    <delete id="deleteByUsername">
        delete from users where username=#{username}
    </delete>
    <update id="UpdatePeople">
        update users set name=#{name},password=#{password},sex=#{sex},Idnumber=#{Idnumber},birth=#{birth},politicalface=#{politicalface},office=#{office},jobtitle=#{jobtitle},worknumber=#{worknumber},profession=#{profession},departname=#{departname},worktime=#{worktime},post=#{post},officephone=#{officephone},residentialphone=#{residentialphone},email=#{email},attribute=#{attribute},degee=#{degee} where username=#{username}
    </update>
    <insert id="AddIt">
        insert into users(name, username, password, sex, Idnumber, birth, politicalface, office, jobtitle,worknumber, profession, departname, worktime, post, officephone, residentialphone, email, attribute, degee) values(#{name},#{username},#{password},#{sex},#{Idnumber},#{birth},#{politicalface},#{office},#{jobtitle},#{worknumber},#{profession},#{departname},#{worktime},#{post},#{officephone},#{residentialphone},#{email},#{attribute},#{degee});
    </insert>
    <select id="selectByName" resultType="com.lhy.animalsystem.login.entity.User">
        select * from users where name like #{name}
    </select>
    <select id="selectByDepartname" resultType="com.lhy.animalsystem.login.entity.User">
        select * from users where departname=#{departname}
    </select>

</mapper>
